:root {
  --color--light: white;
  --font--main: Satoshi, sans-serif;
  --color--dark: black;
  --type--body: 18px;
  --type--h1: 106px;
  --type--h2: 40px;
  --type--h3: 28px;
  --color--accent: #4176ff;
  --type--subtitle: 22px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--color--light);
  font-family: var(--font--main);
  color: var(--color--dark);
  font-size: var(--type--body);
  line-height: 115%;
}

h1 {
  font-size: var(--type--h1);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 115%;
}

h2 {
  font-size: var(--type--h2);
  letter-spacing: -.2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 132%;
}

h3 {
  font-size: var(--type--h3);
  letter-spacing: -.2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 132%;
}

a {
  color: var(--color--accent);
  text-decoration: underline;
}

blockquote {
  background-color: var(--color--dark);
  color: var(--color--light);
  border-left: 5px #e2e2e2;
  border-radius: 8px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 52px;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.hero-template {
  padding-top: 64px;
  padding-bottom: 0;
}

.section.hero-home {
  padding-top: 64px;
  padding-bottom: 64px;
  position: sticky;
  top: 0;
}

.section.story-top-section {
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  overflow: clip;
}

.section.contact-text-section {
  padding-top: 130px;
  padding-bottom: 160px;
  position: relative;
  overflow: clip;
}

.section.padding-bottom-0 {
  padding-bottom: 0;
}

.section.hero-studio {
  padding-top: 64px;
  padding-bottom: 70px;
}

.section.moving-team-section {
  overflow: clip;
}

.section.hero-contact {
  padding-top: 64px;
}

.section.projects-home-first {
  padding-top: 0;
}

.section.hero-works {
  padding-top: 64px;
  padding-bottom: 0;
}

.section.hero-blog {
  padding-bottom: 140px;
}

.section.hero-blog-template, .section.hero-pricing {
  padding-top: 64px;
}

.section.hero-product {
  padding-top: 80px;
  padding-bottom: 0;
}

.section.hero-404 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.padding-top-0 {
  padding-top: 0;
}

.section.hero-sales {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section.padding-top-120 {
  padding-top: 120px;
}

.text-style-h3 {
  font-size: var(--type--h3);
  letter-spacing: -.2px;
  font-weight: 500;
  line-height: 132%;
}

.tile-template-navigation {
  grid-row-gap: 16px;
  background-color: #f5f5f5;
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
  position: sticky;
  top: 120px;
}

.grid-buttons {
  grid-template-rows: auto;
}

.text-style-h1 {
  font-size: var(--type--h1);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 115%;
}

.subtitle {
  font-family: Suisseeduintl, sans-serif;
  font-size: var(--type--subtitle);
  font-weight: 300;
  line-height: 132%;
}

.grid-colors {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-column-template-details {
  padding: 0;
}

.right-column-template-details {
  grid-row-gap: 32px;
  flex-direction: column;
  padding: 0 0 0 24px;
  display: flex;
}

.text-style-h2 {
  font-size: var(--type--h2);
  letter-spacing: -.2px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 132%;
}

.link-template-navigation {
  opacity: 1;
  color: #0000009c;
  font-size: 24px;
  line-height: 135%;
  text-decoration: none;
  transition: font-size .2s;
}

.link-template-navigation.w--current {
  color: var(--color--dark);
  font-weight: 500;
}

.color-master {
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
}

.columns-template-details {
  display: flex;
}

.divider-typography {
  background-color: #000;
  width: 100%;
  height: 1px;
}

.tile-template-details {
  grid-row-gap: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  flex-direction: column;
  padding: 40px;
  display: flex;
}

.main-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1600px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
}

.main-container.imagescont {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.main-container.commitment {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
}

.main-container.contactt {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.wrap-template-ui {
  grid-row-gap: 24px;
  background-color: #e5e5e5;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.color {
  background-color: #faebe3;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding-top: 100%;
}

.color.color-one {
  background-color: var(--color--dark);
}

.color.color-three {
  background-color: var(--color--light);
}

.color.color-two {
  background-color: var(--color--accent);
}

.template-h2 {
  margin-top: 0;
}

.cta {
  background-color: var(--color--dark);
  color: var(--color--light);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cta.white-cta {
  background-color: var(--color--light);
  color: var(--color--dark);
}

.cta.grey-cta {
  color: var(--color--dark);
  background-color: #f1f1f1;
}

.title-wrap-hero-template {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.limit-subtitle-template {
  max-width: 610px;
}

.flex-cta-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo-home-hero {
  width: 100%;
  display: block;
}

.flex-bottom-hero {
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 64px;
  display: flex;
}

.limit-subtitle-home {
  max-width: 310px;
}

.section-video {
  z-index: 4;
  height: 120vh;
  min-height: 600px;
  max-height: 1000px;
  position: relative;
}

.video-home {
  box-sizing: border-box;
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
}

.wrap-home-sticky {
  position: relative;
}

.container-medium {
  width: 100%;
  max-width: 1198px;
  padding-left: 24px;
  padding-right: 24px;
}

.limit-story-heading {
  max-width: 984px;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Suisseeduintl, sans-serif;
  font-weight: 300;
}

.master-animated-story {
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.single-story-animated {
  color: var(--color--dark);
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  overflow: visible;
}

.master-plus-cursor {
  z-index: 20;
  display: none;
  position: absolute;
  inset: 0%;
}

.master-plus-cursor.founder-one, .master-plus-cursor.founder-two, .master-plus-cursor.contact-master {
  pointer-events: none;
  display: none;
}

.wrap-plus {
  background-color: var(--color--accent);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: auto;
  display: flex;
  position: absolute;
  inset: 0%;
}

.wrap-plus.contact-plus {
  width: 64px;
  height: 64px;
}

.line-plus {
  background-color: var(--color--light);
  width: 20px;
  height: 1px;
}

.line-plus.vertical-line {
  position: absolute;
  transform: rotate(-90deg);
}

.wrap-lines-plus {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.wrap-open-founder {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  transform-origin: 50% 0;
  background-color: #f5f5f5;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 246px;
  padding: 20px;
  display: none;
  position: absolute;
  top: 48px;
}

.wrap-open-founder.founder-one-wrap, .wrap-open-founder.founder-two-wrap {
  display: flex;
}

.image-founder {
  border-radius: 8px;
  width: 56px;
}

.text-founder {
  font-size: 16px;
}

.hide {
  overflow: clip;
}

.grid-projects-halves {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.link-project {
  color: var(--color--light);
  flex-flow: column;
  padding: 74% 0% 0%;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: clip;
}

.image-project-tile {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.bottom-project-tile {
  background-image: linear-gradient(#0000, #00000059 35%, #00000059);
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.text-tile-project-service {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.text-project-name-tile {
  font-size: 16px;
  font-weight: 400;
}

.grid-clients-halves {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 2.5fr;
}

.left-clients-heading {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.small-text {
  font-size: 14px;
}

.right-clients-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 8px;
  display: flex;
}

.wrap-big-image-contact {
  border-radius: 4px;
  position: relative;
  overflow: clip;
}

.image-big-image-contact {
  transform-origin: 50% 0;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  display: block;
}

.overlay-general {
  transform-origin: 50% 100%;
  background-color: #fff;
  height: 100%;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.master-contact-text {
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1032px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.h2-contact-big {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Suisseeduintl, sans-serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 132%;
}

.divider-footer {
  background-color: #ffffff80;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 64px;
}

.heading-footer-links {
  color: #fffc;
}

.text-bottom-footer {
  color: #ffffffb3;
  font-size: 14px;
}

.link-footer {
  color: #fff;
  line-height: 140%;
  text-decoration: none;
}

.link-footer:hover {
  text-decoration: underline;
}

.list-footer-links {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.right-top-footer {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 730px;
}

.footer {
  z-index: 101;
  color: #fff;
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 64px;
  position: relative;
}

.list-top-footer {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.brand-footer {
  height: 100%;
  display: block;
}

.right-bottom-footer {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.master-footer-links {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link-legal-footer {
  color: #fff;
}

.grid-footer {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: .92fr 2.08fr;
}

.divider-bottom-footer {
  background-color: #ffffff80;
  width: 100%;
  height: 1px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.wrap-bottom-footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brand-link-footer {
  height: 28px;
}

.grid-footer-links {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  width: 50%;
  max-width: 320px;
}

.fixed-nav {
  z-index: 100;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: #f1f1f1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.link-nav {
  color: var(--color--dark);
  font-size: 16px;
  text-decoration: none;
}

.link-nav:hover {
  text-decoration: underline;
}

.fixed-cart {
  z-index: 103;
  padding-bottom: 8px;
  padding-right: 8px;
  position: fixed;
  inset: auto 0 0 auto;
}

.cart-button {
  color: var(--color--dark);
  background-color: #e0e0e0;
  border-radius: 70px;
  padding: 10px;
  font-size: 16px;
}

.title-wrap-studio {
  max-width: 1230px;
  margin-bottom: 64px;
}

.wrap-image-hero-studio {
  border-radius: 12px;
  position: relative;
}

.image-hero-studio {
  width: 100%;
}

.wrap-one-plus-studio-hero {
  position: absolute;
  inset: auto auto 57% 25%;
}

.text-heading-plus {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.wrap-two-plus-studio-hero {
  position: absolute;
  inset: auto 23% 65% auto;
}

.icon-cart {
  width: 18px;
  height: 18px;
}

.heading-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-left.mg-bottom-64 {
  margin-bottom: 64px;
}

.expandable-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.plus-expand-master {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}

.master-expandable-wide {
  grid-row-gap: 0px;
  flex-direction: column;
  display: flex;
}

.heading-expandable {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
}

.expandable-single-faq {
  cursor: pointer;
  border-bottom: 1px solid #0000004d;
  padding-top: 16px;
  padding-bottom: 16px;
}

.expandable-bottom {
  transform-origin: 50% 0;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  display: flex;
}

.plus-line {
  background-color: gray;
  border-radius: 2px;
  width: 18px;
  height: 1px;
}

.plus-line.vertical {
  position: absolute;
  transform: rotate(-90deg);
}

.faq-paragraph {
  transform-origin: 50% 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 125%;
}

.grid-gallery-halves {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.wrap-imagae-gallery-halves-big {
  position: relative;
  overflow: clip;
}

.image-gallery-halves {
  width: 100%;
}

.right-gallery-halves {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.wrap-imagae-gallery-halves-small {
  max-width: 563px;
  position: relative;
  overflow: clip;
}

.limit-text-gallery-halves {
  max-width: 343px;
}

.body-small {
  letter-spacing: -.2px;
  font-size: 16px;
  line-height: 115%;
}

.image-moving-team {
  width: 100%;
}

.move-moving-team {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.master-moving-team {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.list-moving-team {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bottom-moving-team {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.tile-moving-team {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #000;
  flex-flow: column;
  width: 340px;
  text-decoration: none;
  display: flex;
}

.wrap-image-moving-team {
  background-color: #eef3ff;
}

.grid-studio-gallery-first {
  grid-template-rows: auto;
}

.image-studio-gallery-one {
  max-width: 445px;
  margin-bottom: 480px;
}

.image-studio-gallery-two {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right-studio-gallery-first {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-studio-gallery-three {
  width: 100%;
  max-width: 680px;
  display: block;
}

.image-wide-studio-gallery {
  width: 100%;
  max-width: 1302px;
  margin: 198px auto 140px;
  display: block;
}

.grid-studio-gallery-last {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1.1fr .9fr;
}

.image-studio-gallery-four {
  width: 90%;
  max-width: 508px;
  margin-bottom: 311px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-studio-gallery-five {
  width: 90%;
  max-width: 229px;
  margin-left: auto;
  margin-right: 80px;
  display: block;
}

.image-studio-gallery-six {
  width: 95%;
  max-width: 508px;
  margin-top: 80px;
  margin-right: auto;
  display: block;
}

.grid-hero-contact {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.left-contact-hero {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.title-wrap-contact {
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wrap-image-contact-hero {
  border-radius: 8px;
  max-height: 80vh;
  position: relative;
  overflow: clip;
}

.image-contact-hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bottom-contact-hero {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.single-bullet-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #151515;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  display: flex;
}

.circle-bullet-item {
  background-color: #3a6cee;
  border-radius: 50%;
  flex: none;
  width: 12px;
  height: 12px;
}

.wrap-open-plus-general {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  transform-origin: 50% 0;
  background-color: #f5f5f5;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 246px;
  padding: 20px;
  display: none;
  position: absolute;
  top: 52px;
}

.heading-center {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-center.contact-form-heading {
  max-width: 372px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.divider-contact-form {
  background-color: #0003;
  width: 100%;
  height: 1px;
}

.flex-cta-contact-form {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.field-contact {
  color: #000;
  background-color: #e5e5e5;
  border: 1px #000;
  border-radius: 50px;
  width: 100%;
  height: 44px;
  margin-bottom: 0;
  padding: 8px 12px 8px 20px;
}

.field-contact:focus {
  color: #000;
  border-style: solid;
  border-color: #3a6cee;
}

.field-contact::placeholder {
  color: #00000080;
}

.field-contact.text-area {
  border-radius: 12px;
  height: 150px;
  padding-top: 20px;
}

.success-message {
  color: #fff;
  background-color: #3a6cee;
  border-radius: 12px;
}

.wrap-gender-radios {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.wrap-input-with-label {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.grid-contact-form {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  width: 100%;
}

.wrap-contact-section-three {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.from-contact {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  display: flex;
}

.wrap-contact-section-two {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.radio-button-contact {
  margin-bottom: 0;
}

.master-form-contact-b {
  max-width: 692px;
  margin-left: auto;
  margin-right: auto;
}

.radio-button {
  background-color: #fff;
  border-color: #000;
  width: 16px;
  height: 16px;
}

.radio-button.w--redirected-checked {
  background-color: #000;
  border-width: 0;
  border-color: #000;
}

.title-wrap-works {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
  display: flex;
}

.master-filters {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}

.link-filter {
  opacity: .6;
  color: var(--color--dark);
  text-decoration: none;
}

.link-filter.w--current {
  opacity: 1;
}

.list-filters {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-wrap-work-template {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 64px;
  display: flex;
}

.limit-subtitle-project {
  max-width: 610px;
}

.wrap-image-project-hero {
  border-radius: 8px;
  margin-bottom: 100px;
  position: relative;
  overflow: clip;
}

.image-project-hero {
  object-fit: cover;
  width: 100%;
}

.limit-project-inner-content {
  max-width: 916px;
}

.wrapper-gallery-project {
  flex-flow: column;
  margin-top: 82px;
  margin-bottom: 92px;
  display: flex;
}

.list-gallery-project {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.lightbox-gallery-project {
  border-radius: 8px;
  width: 100%;
  overflow: clip;
}

.title-wrap-blogs {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 48px;
  display: flex;
}

.grid-blog-fourths {
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tile-blog {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--color--dark);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.wrap-image-blog {
  border-radius: 8px;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: clip;
}

.image-blog {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.bottom-blog {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.left-bottom-blog {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-blog-tile {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.text-blog-type-tile {
  text-transform: uppercase;
  font-size: 14px;
}

.hide-h1-heading {
  padding-bottom: 3px;
  overflow: clip;
}

.heading-blog-date {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.title-wrap-blog-template {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-blog-hero {
  border-radius: 8px;
  width: 100%;
  margin: 64px auto;
  display: block;
}

.grid-blog-content {
  grid-template-rows: auto;
  grid-template-columns: .6fr 1.3fr;
}

.left-block-content {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wrap-by-author {
  grid-column-gap: 6px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-author-name {
  font-weight: 500;
}

.wrap-blog-details {
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-wrap-pricing {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}

.grid-pricing-thirds {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tile-pricing {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-top: 1px solid var(--color--dark);
  border-bottom: 1px solid var(--color--dark);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.top-pricing-tile {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-wrap-product {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.top-title-product {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.limit-subtitle-product {
  max-width: 812px;
}

.default-state-atc {
  margin-bottom: 15px;
}

.shipping-method {
  background-color: #fff;
}

.block-header {
  background-color: #f5f5f5;
  border: 1px #0f1a2326;
  border-bottom: 1px solid #0f1a2314;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.checkout-form {
  background-color: #fff;
  border-top: 1px #000;
  padding: 80px 0;
}

.text-field-checkout-page {
  color: #000;
  background-color: #e5e5e5;
  border: 1px solid #0000001c;
  border-radius: 70px;
  height: 40px;
  margin-bottom: 12px;
}

.text-field-checkout-page:focus {
  color: #000;
  border-style: solid;
  border-color: #3a6cee;
}

.block-content {
  background-color: #f5f5f5;
  border: 1px #000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.apple-pay {
  border-radius: 60px;
  height: 36px;
}

.checkbox-label-checkout {
  margin-bottom: 0;
}

.shipping-method-list {
  border: 1px #000;
}

.billing-address-toggle {
  justify-content: flex-start;
  align-items: center;
}

.checkbox-checkout {
  width: 20px;
  height: 20px;
  margin-top: 0;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.icon-lock {
  width: 100%;
  max-width: 240px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.brand-simple {
  background-color: #fff;
  border-bottom: 1px solid #0000000f;
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
}

.link-brand-checkout {
  justify-content: center;
  align-items: center;
  height: 26px;
  display: flex;
}

.brand-image-checkout {
  height: 100%;
}

.image-hero-404 {
  transform-origin: 50% 0;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  display: block;
}

.left-hero-404 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.grid-gallery-404 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .8fr 1.2fr;
}

.limit-subtitle-404 {
  max-width: 360px;
}

.title-wrap-404 {
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.bottom-left-404 {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wrap-image-hero-404 {
  border-radius: 4px;
  position: relative;
  overflow: clip;
}

.grid-master-hero-404 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: .9fr 1.1fr;
}

.tile-changelog {
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 100%;
  max-width: 562px;
  margin-left: 0;
  margin-right: auto;
  padding: 40px 32px;
}

.container-small {
  width: 100%;
  max-width: 920px;
  padding-left: 24px;
  padding-right: 24px;
}

.title-wrap-sales {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1100px;
  display: flex;
}

.flex-cta-sales {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.sales-mock-image {
  border: 1px solid #ffffff30;
  width: 100%;
  margin-bottom: 0;
}

.sales-mock-link-block {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 24px;
  transition: transform .5s;
  overflow: hidden;
}

.sales-mock-link-block:hover {
  transform: scale(1.03);
}

.section-sales-mockups {
  background-color: var(--color--dark);
  height: 95vh;
  min-height: 600px;
  max-height: 900px;
  position: relative;
  overflow: hidden;
}

.grid-thirds-mokckups {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-sales-mockups {
  max-width: 1600px;
  padding-left: 24px;
  padding-right: 24px;
}

.grid-included {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.included-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 6px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 340px;
  padding: 0;
  display: flex;
}

.included-card.figma-card {
  grid-column-gap: 56px;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 0;
  padding: 32px;
}

.included-padding-wrap {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  display: flex;
}

.image-included {
  width: 100%;
}

.icon-figma {
  width: 120px;
  height: 120px;
}

.wrap-figma-content {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.grid-fourths-sales-fourths {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sales-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #000;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px #000;
  border-radius: 6px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 24px;
  text-decoration: none;
  transition: transform .2s;
  display: flex;
}

.sales-card:hover {
  transform: translate(0, -4px);
}

.grid-thirds-sales-page {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.master-sales-pages {
  grid-row-gap: 80px;
  flex-direction: column;
  display: flex;
}

.image-sales-page {
  border: 1px solid #0000000f;
  border-radius: 2px;
  width: 100%;
}

.h2-sales-page {
  margin-top: 0;
  margin-bottom: 0;
}

.hide-h2-sales {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.single-sales-pages {
  grid-row-gap: 48px;
  flex-direction: column;
  display: flex;
}

.grid-thirds-all-features {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.more-power-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #000;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 32px 24px;
  display: flex;
}

.flex-cta-center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.flex-cta-center.mg-top-48 {
  margin-top: 48px;
}

.cart-container {
  border-radius: 8px;
}

.heading {
  text-align: center;
  font-family: Suisseeduintl, sans-serif;
  font-size: 150px;
}

.image {
  display: block;
}

.bold-text {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 36px;
  }

  .section.hero-home, .section.hero-studio, .section.hero-contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.hero-works, .section.hero-project-template {
    padding-top: 40px;
  }

  .section.hero-blog {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  .section.hero-blog-template, .section.hero-pricing {
    padding-top: 40px;
  }

  .section.hero-404 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.hero-sales {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .text-style-h3 {
    font-size: 26px;
  }

  .text-style-h1 {
    font-size: 64px;
  }

  .left-column-template-details {
    display: none;
  }

  .right-column-template-details {
    padding: 0;
  }

  .text-style-h2 {
    font-size: 64px;
  }

  .columns-template-details {
    flex-direction: column;
  }

  .section-video {
    height: auto;
    min-height: 400px;
    max-height: 700px;
    padding-top: 72vw;
  }

  .video-home {
    position: absolute;
    inset: 0%;
  }

  .h2-contact-big {
    font-size: 6vw;
  }

  .grid-studio-gallery-first {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .image-studio-gallery-one {
    margin-bottom: 200px;
  }

  .image-studio-gallery-four {
    margin-bottom: 230px;
  }

  .bottom-contact-hero {
    order: 1;
    padding-bottom: 12px;
  }

  .master-filters {
    margin-bottom: 40px;
  }

  .grid-blog-fourths {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-blog-content {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .grid-pricing-thirds {
    grid-template-columns: 1fr;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-master-hero-404 {
    grid-column-gap: 65px;
    grid-row-gap: 65px;
    grid-template-columns: 1fr;
  }

  .tile-changelog {
    padding-right: 4px;
  }

  .grid-thirds-mokckups {
    grid-template-columns: 1fr;
  }

  .grid-thirds-mokckups.sales-mokcups {
    grid-template-columns: 1fr 1fr;
  }

  .sales-mockups-column.third-column {
    display: none;
  }

  .grid-included {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .included-card {
    min-height: 260px;
  }

  .grid-fourths-sales-fourths {
    grid-template-columns: 1fr 1fr;
  }

  .sales-card {
    padding: 16px;
  }

  .grid-thirds-sales-page {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .h2-sales-page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-thirds-all-features {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 41px;
  }

  h2 {
    font-size: 30px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.contact-text-section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .section.hero-studio, .section.hero-works, .section.hero-sales {
    padding-bottom: 0;
  }

  .text-style-h1 {
    font-size: 52px;
  }

  .grid-colors {
    grid-template-columns: 1fr 1fr;
  }

  .left-column-template-details {
    display: none;
  }

  .right-column-template-details {
    padding: 0;
  }

  .text-style-h2 {
    font-size: 52px;
  }

  .columns-template-details {
    flex-direction: column;
  }

  .tile-template-details {
    padding: 24px;
  }

  .flex-bottom-hero {
    margin-top: 40px;
  }

  .grid-projects-halves, .grid-clients-halves {
    grid-template-columns: 1fr;
  }

  .master-contact-text {
    grid-column-gap: 1.4vw;
  }

  .h2-contact-big {
    font-size: 7.2vw;
  }

  .grid-footer {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    grid-template-columns: .92fr;
  }

  .wrap-bottom-footer {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .fixed-nav {
    z-index: 102;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 230px;
    margin-left: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    transform: translate(0, 101%);
  }

  .cart-button {
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }

  .title-wrap-studio {
    margin-bottom: 40px;
  }

  .heading-expandable {
    font-size: 22px;
    line-height: 28px;
  }

  .faq-paragraph {
    font-size: 16px;
    line-height: 140%;
  }

  .grid-gallery-halves {
    grid-template-columns: 1fr;
  }

  .right-gallery-halves {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }

  .tile-moving-team {
    width: 290px;
  }

  .grid-studio-gallery-first {
    grid-template-columns: 1fr;
  }

  .image-studio-gallery-one {
    margin-bottom: 110px;
  }

  .image-studio-gallery-three {
    width: 80%;
    margin-left: auto;
  }

  .image-wide-studio-gallery {
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .grid-studio-gallery-last {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .bottom-contact-hero {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .single-bullet-item {
    font-size: 22px;
  }

  .wrap-open-plus-general.landscape-top-right {
    transform-origin: 100% 0;
    left: auto;
    right: 0;
  }

  .title-wrap-work-template, .wrap-image-project-hero {
    margin-bottom: 40px;
  }

  .grid-blog-fourths {
    grid-template-columns: 1fr 1fr;
  }

  .tile-changelog {
    padding: 32px 24px;
  }

  .circle-mobile-nav {
    z-index: 102;
    background-color: var(--color--accent);
    border-radius: 80px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    position: fixed;
    inset: auto auto 8px 8px;
  }

  .title-wrap-sales {
    margin-bottom: 40px;
  }

  .sales-mockups-column.third-column {
    display: none;
  }

  .grid-included {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .included-card.figma-card {
    text-align: center;
    flex-direction: column;
  }

  .wrap-figma-content {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .section.story-top-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.contact-text-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .grid-buttons {
    grid-template-columns: 1fr;
  }

  .text-style-h1 {
    font-size: 46px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 128%;
  }

  .grid-colors {
    grid-template-columns: 1fr;
  }

  .text-style-h2 {
    font-size: 46px;
  }

  .main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .wrap-template-ui {
    padding: 16px;
  }

  .flex-bottom-hero {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
  }

  .section-video {
    min-height: 220px;
    max-height: 670px;
  }

  .container-medium {
    padding-left: 16px;
    padding-right: 16px;
  }

  .master-animated-story {
    grid-column-gap: 8px;
  }

  .right-clients-list {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .h2-contact-big {
    font-size: 10vw;
  }

  .right-top-footer {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .right-bottom-footer {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .grid-footer {
    grid-template-columns: 1fr;
  }

  .grid-footer-links {
    width: 100%;
  }

  .fixed-nav {
    width: 60%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 101%);
  }

  .image-hero-studio {
    object-fit: cover;
    min-height: 80vw;
  }

  .wrap-one-plus-studio-hero {
    bottom: 60%;
    left: 12%;
    transform: scale(.8);
  }

  .wrap-two-plus-studio-hero {
    bottom: 57%;
    right: 40%;
    transform: scale(.7);
  }

  .heading-left.mg-bottom-64 {
    margin-bottom: 48px;
  }

  .heading-expandable {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }

  .grid-gallery-halves {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .tile-moving-team {
    width: 75vw;
  }

  .image-studio-gallery-one {
    width: 100%;
  }

  .left-studio-gallery-first {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-studio-gallery-two {
    width: 90%;
    margin-left: 0;
  }

  .grid-studio-gallery-last {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1.1fr;
  }

  .image-studio-gallery-four {
    width: 80%;
    margin-bottom: 100px;
  }

  .image-studio-gallery-six {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 0;
  }

  .wrap-open-plus-general.landscape-top-left {
    transform-origin: 0 0;
    left: 0;
    right: auto;
  }

  .grid-contact-form {
    grid-template-columns: 1fr;
  }

  .master-filters, .list-filters {
    grid-row-gap: 6px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title-wrap-work-template {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid-blog-fourths {
    grid-template-columns: 1fr;
  }

  .title-wrap-pricing {
    margin-bottom: 32px;
  }

  .checkout-form {
    padding-top: 48px;
  }

  .order-item {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    flex-direction: column;
    align-items: flex-start;
  }

  .block-content {
    padding: 16px;
  }

  .top-price {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    margin-left: 0;
  }

  .top-order {
    margin-bottom: 12px;
    margin-left: 0;
  }

  .grid-gallery-404 {
    grid-template-columns: 1fr;
  }

  .grid-master-hero-404 {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }

  .circle-mobile-nav {
    bottom: 8px;
    left: 8px;
  }

  .container-small {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section-sales-mockups {
    max-height: 800px;
  }

  .grid-thirds-mokckups.sales-mokcups {
    grid-template-columns: 1fr;
  }

  .sales-mockups-column.second-column {
    display: none;
  }

  .sales-mockups-column.third-column {
    display: block;
  }

  .sales-mockups-column.first-column {
    display: none;
  }

  .container-sales-mockups {
    padding-left: 16px;
    padding-right: 16px;
  }

  .grid-fourths-sales-fourths {
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
  }

  .sales-card {
    padding: 16px;
  }

  .more-power-card {
    padding: 24px;
  }
}

#w-node-_98504b3c-5838-9327-0e02-b29a4980772a-52e58d0a {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_1777373e-85c1-9d46-ee49-764969c547a7-52e58d0a {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_271dd4fa-0c1f-6bac-1c22-a3938f389ba7-52e58d0a, #w-node-_3dca42b6-ca32-5d1c-0501-5663923eb522-52e58d0a, #w-node-_465b3b24-70d6-8bae-32eb-2e227f9829ef-52e58d0a {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-ba432fbc-fbcf-9c0d-57e9-d9eebb0e4240-52e58d6f {
  place-self: stretch start;
}

#w-node-ba432fbc-fbcf-9c0d-57e9-d9eebb0e424d-52e58d6f, #w-node-ba432fbc-fbcf-9c0d-57e9-d9eebb0e4250-52e58d6f {
  place-self: stretch stretch;
}

#w-node-_58f681c9-b528-858d-3cf1-a6527b92b840-7b92b825 {
  place-self: start;
}


@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Suisseeduintl';
  src: url('../fonts/SuisseEDUIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Suisseeduintl';
  src: url('../fonts/SuisseEDUIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}